fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

langchain==0.2.6
langchain-community==0.2.6
langchain-google-genai==1.0.7

chromadb==0.4.24
pypdf==4.2.0

python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.2.1

google-generativeai==0.7.2